html {
    height: 100%;
}

nav a:hover {
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0 0;
    font-family: "Sofia", sans-serif;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav>ul>li a:hover {
    background-color: #B03217;
}

.active {
    background-color: #B03217;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #B03217;
}


.header {
    padding: 60px;
    text-align: center;
    background-image: url('../img/cinta.jpg');
}

.header h1 {
    font-size: 50px;
    color: #B03217;
    font-weight: bold;
}

.header p {
    color: #B03217;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

}

@media only screen and (min-width: 420px) {
    .band {
        grid-template-columns: 1fr;
    }

    .item-1 {
        grid-column: 1/ span 2;
    }

    .item-1 h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 620px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }

    .item-1 {
        grid-column: 1/ span 2;
    }

    .item-1 h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* card */

.card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
    padding: 20px;
    display: flex;

    flex: 1;
    justify-content: space-between;
    flex-direction: column;

}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

.card p {
    flex: 1;
    /* make p grow to fill available space*/
    line-height: 1.4;
}

.card h1,
h2 {
    flex: 1;
    /* make p grow to fill available space*/
    color: #B03217;
}

/* typography */
h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

* {
    box-sizing: border-box;
}



.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.seeall {
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
    color: #fff;
    background-color: #B03217;
    margin-top: 10px;
}

.image-desc {
    background-color: #B03217;
    width: 100%;
    padding: 10px;
}

.red-socials {
    text-align: center;
}

.red-socials span {
    margin: 15px 15px;
}

/* Add a card effect for articles */
.cardhome {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.more-pupulate>.image-desc {
    transition: all .13 ease-in;
    cursor: pointer;
}


.more-pupulate>.image-desc:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    opacity: .3;
}

.btn-see {
    text-align: center;
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    background-color: #B03217;
    margin-top: 10px;

}

div.containerDetail {
    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column .image {
    width: 100%;
}

.column .content {
    padding: 0px 30px;
}

.column .content span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
    display: block;
}


